/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: #0c0511;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-nav {
  width: 100%;
  margin: 5px;
  height: 5rem;
  display: flex;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(250, 250, 250, 0.25) 0px 50px 100px -20px,
    rgba(125, 125, 125, 0.3) 0px 30px 60px -30px;
  background-color: #ae4cf8;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  justify-content: start;
  align-items: center;
  width: 40px; /* Adjust width of the logo container */
  height: 40px; /* Adjust height as needed */
  margin-right: auto; /* Pushes the logo to the left edge */
  margin-left: 10px;
}

.logo img {
  padding-top: 2.5px;
  width: 200px; /* Adjust width of the logo container */
  height: auto;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 10px;
  margin-top: -16px;
}

.menu-link ul li {
  padding: 10px;
  margin-right: 20px;
}

.menu-link ul li {
  font-size: 1.2rem;
  list-style-type: none;
  margin-bottom: 55px;
}

.menu-link2 ul {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  margin-top: -16px;
}

.menu-link2 ul li {
  padding: 20px;
  margin-bottom: 55px;
  font-size: 1.2rem;
  list-style-type: none;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: #0f0815;
  transition: 0.5s;
  text-decoration: none;
}

.menu-link ul li:hover > a {
  padding: 5px;
  box-shadow: rgba(244, 245, 246, 0.5) 5px 5px;
  transform-origin: left;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.menu-link2 ul li a {
  text-transform: capitalize;
  color: #0f0815;
  transition: 0.5s;
  text-decoration: none;
}

.menu-link2 ul li:hover > a {
  padding: 5px;
  /* box-shadow: rgba(76, 145, 237, 0.5) 5px 5px, rgba(56, 125, 217, 0.2) 10px 10px; */
  transform-origin: left;
  font-style: bold;
  /* border-radius: 20px; */
  background-color: white;
  box-shadow: rgba(244, 245, 246, 0.5) 5px 5px;
  border-radius: 10px;
  transition: 0.3s;
}
/* Additional styles for dropdown */
.menu-link ul ul {
  display: none;
  position: absolute;
  width: 180px;
  height: 100px;
  right: 730px;
  background-color: #333;
  /* Updated background color */
  border-radius: 8px 8px 8px 8px;
  /* Rounded corners at the bottom */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu-link ul li:nth-child(1) ul {
  right: 835px;
}

.menu-link ul li:nth-child(2) ul {
  right: 730px;
}

.menu-link ul li:hover > ul {
  display: block;
}

.menu-link ul ul li {
  display: block;
  width: 100%;
  margin: 10px;
  margin-right: 10px;
  margin-left: -10px;
  padding: 0px;
  /* Increased padding for better readability */
}

.menu-link ul ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
}

.menu-link ul ul li:hover {
  background-color: white;
  width: auto;
  /* Highlight color on hover */
}
.menu-link ul ul li:hover > a {
  color: rgb(14, 14, 113);
  /* Highlight color on hover */
}

.container {
  margin-top: 65px;
  width: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: #d2a8f4;
  position: relative;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
i {
  font-size: 30px;
  color: #56118a;
  margin-bottom: 10px;
  width: max-content;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #56118a;
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #56118a;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type='button'] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #56118a;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type='button']:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

.footer {
  background-color: #ae4cf8;
  margin: 5px;
  color: #0f0815;
  padding: 10px 0;
  display: flex;
  border-radius: 20px;
  justify-content: space-around;
  /* position: absolute; */
  bottom: 0;
  left: 0;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #cb97ff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
